body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Comic Sans MS';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

h4 {
    font-family: 'Comic Sans MS';
    font-style: italic;
    color: green;
    font-weight: bold;
}

.text-field {
    width: 100%;
}

.button {
    background: #00b489;
    color: white;
    padding: 45px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

